<link rel="stylesheet" type="text/css" href="assets/css/area.css">
<div id="container" ng-controller="areaController">
   <div id="locations">
      <h3>{{trips[0].area}}: Average Rating: {{trips.averageRating}} - Reviewed {{trips.count}} time<span ng-if="trips.count>1">s</span></h3>
      Sort: <select id="sort" ng-model="sortorder">
         <option value="-createdAt">Date Posted</option>
         <option value="-rating">Rating</option>
      </select>
      <label><input ng-model="filter" placeholder="filter.."></label>
      <div id="trip" ng-repeat="trip in trips | filter: filter | orderBy:sortorder">
         <b>{{trip.title}} - Rated {{trip.rating}}</b>: Posted by <a id="userlink" href="#/user/{{trip._user._id}}">{{trip._user.username}}</a> on {{trip.createdAt | date:'MMM dd, yyyy'}}
         <p id="description">{{trip.description}}</p>
         <form id="newcomment">
            <textarea id="post" type="text" ng-model='post.text'></textarea>
            <input class="submit" type="submit" value="Post a Comment" ng-click="newPost(trip._id, post)">
         </form>
         <div id="posts" ng-repeat="post in trip.posts">
            <p id="oldpost">{{post._user.username}} - {{post.createdAt | date:'MMM dd, yyyy'}}: {{post.text}}</p>
            <form id="newreply">
               <button class="submit" ng-click="reply = !reply">Reply</button>
               <textarea style='width:500px' id="comment" type="text" ng-model='comment.text' ng-show='reply'></textarea>
               <input class="submit" type="submit" value="Send" ng-click="newComment(post._id, comment)" ng-show='reply'>
            </form>
            <div id="replies" ng-repeat="comment in post.comments">
               <p>{{comment._user.username}} - {{comment.createdAt | date: 'MMM dd, yyyy'}}: {{comment.text}}</p>
            </div>
         </div>
      </div>
   </div>
</div>
