<div ng-controller="locationController">
   <h3>Popular Locations</h3>
   <div ng-repeat="location in locations">
      {{location.region}} - {{location.name}}

   </div>
   <h3>Share a post:</h3>
   <form id="newPost">
      <p id="postBox"><input type='text' ng-model='post.text'></p>
      <input type="submit" value="Post a post" ng-click="newPost(user._id)">
   </form>
   <style>#posts{margin-left: 10px;}</style>
   <div id="posts" ng-repeat="post in posts track by $index">
      <p>{{post._user.first_name}} - {{post.createdAt | date:'MM/dd/yyyy hh:mm'}}</p>
      <p>{{post.text}}</p>
      <style>#comments{margin-left: 40px;}</style>
      <div id="comments" ng-repeat="comment in post.comments track by $index">
         <p>{{comment._user.first_name}} - {{comment.createdAt | date:'MM/dd/yyyy hh:mm'}}</p>
         <p>{{comment.text}}</p>
      </div>
      <style>#newComment{margin-left: 50px;}</style>
      <form id="newComment">
         <input name = 'comment.text' type='text' ng-model='comment.text'>
         <input type="submit" value="Post a comment" ng-click="newComment(post._id, comment)">
      </form>
   </div>
</div>
