<link rel="stylesheet" type="text/css" href="assets/css/regions.css">

<div ng-controller="regionsController">
   <div class="region" id="NA">
      <a class="regionlink" href="#/region/North America"><h4>North America</h4></a>
      <p>{{trips.region.averageRating}}</p>
   </div>
   <div class="region" id="CA">
      <a class="regionlink" href="#/region/Central America"><h4>Central America</h4>
   </div>
   <div class="region" id="SA">
      <a class="regionlink" href="#/region/South America"><h4>South America</h4>
   </div>
   <div class="region" id="PA">
      <a class="regionlink" href="#/region/Pacific Islands"><h4>Pacific Islands</h4>
   </div>
   <div class="region" id="CAR">
      <a class="regionlink" href="#/region/Caribbean"><h4>Caribbean</h4>
   </div>
   <div class="region" id="EU">
      <a class="regionlink" href="#/region/Europe"><h4>Europe</h4>
   </div>
   <div class="region" id="AF">
      <a class="regionlink" href="#/region/Africa"><h4>Africa</h4>
   </div>
   <div class="region" id="CAS">
      <a class="regionlink" href="#/region/Central Asia"><h4>Central Asia</h4>
   </div>
   <div class="region" id="SEA">
      <a class="regionlink" href="#/region/South East Asia"><h4>South East Asia</h4>
   </div>
   <div class="region" id="AU">
      <a class="regionlink" href="#/region/Australia"><h4>Australia / New Zealand</h4>
   </div>
</div>
